### Задача 1.
На столе лежат n монеток. Некоторые из них лежат вверх решкой, а некоторые – гербом. Определите минимальное число монеток, которые нужно перевернуть, чтобы все монетки были повернуты вверх одной и той же стороной. Выведите минимальное количество монет, которые нужно перевернуть

In [9]:
import random
from random import randint

In [26]:
N = randint(1,10)
print('Число монет:', N)
arr = [randint(0, 1) for x in range(1, N+1)]
print('Положение монет:', arr)
reshka = 0
orel = 0
i=0
for i in range(N-1):
  if arr[i] == 1:
    orel+=1
  else:
    reshka+=1
if orel<reshka:
  print('Минимальное количество монет:', orel)
else:
  print('Минимальное количество монет:', reshka)

Число монет: 8
Положение монет: [0, 0, 0, 0, 1, 0, 0, 0]
Минимальное количество монет: 1

###Задача 2.
Петя и Катя – брат и сестра. Петя – студент, а Катя – школьница. Петя помогает Кате по математике. Он задумывает два натуральных числа X и Y (X,Y≤1000), а Катя должна их отгадать. Для этого Петя делает две подсказки. Он называет сумму этих чисел S и их произведение P. Помогите Кате отгадать задуманные Петей числа.

In [6]:
print('Введите сумму и произведение двух чисел')
a, b = map(int, input().split())
c = 0
for i in range(a + b):
    if c:
        break
    for j in range(a + b):
        if i + j == a and i * j == b:
            c = 1
            print('Загаданные числа:', i, j)
            break

Введите сумму и произведение двух чисел
15 56
Загаданные числа: 7 8

### Задача 3.
Требуется вывести все целые степени двойки (т.е. числа вида 2k), не превосходящие числа N.

In [30]:
N = randint(1,1000)
print('Число N =',N)
list = []
for i in range(N):
  if 2**i < N:
    list.append(2**i)
  else:
    break
print('Список степеней двойки не превосходящие N', list)

Число N = 754
Список степеней двойки не превосходящие N [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]